* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-brand {
    width: 100px;
}
.navbar-logo {
    width: 100%;
}

.nav-items {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600px;
}

.nav-items:hover {
    background-position: right center;
    border: 2px solid #ff6767;
    cursor: pointer;
}
@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width:1024px) {
    .navbar-brand {
        width: 150px;
    }
    .nav-items {
        padding: 20px;
        font-size: 20px;
    }
}