* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}
.navbar-brand {
    width: 100px;
}
.navbar-logo {
    width: 100%;
}

.nav-items {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600px;
}

.nav-items:hover {
    background-position: right center;
    border: 2px solid #ff6767;
    cursor: pointer;
}
.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero-image-container
 {
    width: 100%;
}
.hero-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);;
}

.hero-text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}

 @media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero-container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width:1024px) {
     .container{
        max-width: 70%;
     }
    
    .navbar-brand {
        width: 150px;
    }
    .nav-items {
        padding: 20px;
        font-size: 20px;
    }
    .hero-description {
        width: 100%;

    }
    .hero-text {
        font-size: 40px;
    }
}